@each $name, $color in $button-colors {
  .btn-#{$name} {
    background-color: $color;
    color: $text-color;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: $font-size-sm;
  }
}
