.hero {
  background-color: $bg-hero;
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 430px;
  .hero-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .hero-text {
      max-width: 400px;
      h1 {
        @include title-big;
        @include onStart(hero-title, 1.5s, -30px, 0px, 0.7s);
      }
      p {
        font-size: $font-size-lg;
        @include onStart(hero-description, 1s, -50px, 0px, 1s);
      }
    }
    img {
      @include floating(3px solid #ffeaea);
      @include onStart(hero-img, 1s, -20px, 0px, 0s);
    }
  }
  .hero-buttons {
    margin-top: 2rem;
    button {
      &:nth-of-type(1) {
        @include onStart(hero-btn1, 1s, -60px, 0px, 0.4s);
      }
      &:nth-of-type(2) {
        @include onStart(hero-btn2, 1s, -60px, 0px, 0.5s);
      }
      &:nth-of-type(3) {
        @include onStart(hero-btn3, 1s, -60px, 0px, 0.6s);
      }
    }
  }
}
