@mixin floating($border: 1px solid black, $shadow: 3px 3px 7px #00000036) {
  border-radius: 10px;
  border: $border;
  box-shadow: $shadow;
}

@mixin grid($columns: 2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;

  & > * {
    flex: 1 1 calc(100% / #{$columns} - 30px);
    max-width: calc(100% / #{$columns} - 30px);
  }
}
