@mixin floating($border: 1px solid black, $shadow: 3px 3px 7px #00000036) {
  border-radius: 10px;
  border: $border-color;
  box-shadow: $shadow;
}

@mixin grid($columns) {
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex: 1 1 calc(100% / #{$columns});
    max-width: (100% / #{$columns});
  }
}
